<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sustech.cs307.mapper.OrdersMapper">

    <resultMap id="deleteOrderMap" type="java.util.Map">
        <result property="contract_number" column="contract_number" javaType="java.lang.String"/>
        <result property="product_model_id" column="product_model_id" javaType="java.lang.Integer"/>
        <result property="salesman_id" column="salesman_id" javaType="java.lang.Integer"/>
    </resultMap>

    <select id="getDeleteOrder" resultMap="deleteOrderMap">
        select contract_number, product_model_id, salesman_id
        from (select contract_number,
                     salesman_id,
                     model_name,
                     product_model_id,
                     rank()
                     over (partition by contract_number,salesman_id,product_model_id order by estimated_delivery_date,model_name) r
              from orders
                       join model m on m.id = orders.product_model_id
              where contract_number = #{contract_number}
                and salesman_id = #{salesman_id}) sub
        where sub.r = #{seq};

    </select>

    <resultMap id="orderCountMap" type="java.util.Map">
        <result property="count" column="count" javaType="java.lang.Integer"/>
    </resultMap>

    <select id="getOrderCount" resultMap="orderCountMap">
        select count(*) as count from orders
    </select>

</mapper>
