<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sustech.cs307.mapper.StaffMapper">
    <resultMap id="staffTypeToStaffCntMap" type="java.util.Map">
        <result property="type" column="type" javaType="java.lang.String"/>
        <result property="count" column="count" javaType="java.lang.Integer"/>
    </resultMap>

    <select id="getAllStaffCount" resultMap="staffTypeToStaffCntMap">
        select type as type, count(*) as count from staff group by type
    </select>
</mapper>
